*{
    padding: 0;
    margin: 0;
    background-color: black;
}
#game{
    width: 400px;
    height: 500px;
    border: 1px solid white;
    margin: auto;
    overflow: hidden;
}
#character{
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    position: relative;
    top: 400px;
    left: 190px;
    z-index: 1000000;
}